In [3]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

# Bước 1: Tạo DataFrame mẫu (bạn thay bằng file của bạn)
df = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Alice", "Bob", "Charlie"],
    "score": [85.0, 92.5, 78.0]
})

# Bước 2: Thông tin kết nối BigQuery
project_id = "fsds-bi"
dataset_id = "sample_datawarehouse"
table_id = "fake_data"
key_path = "/Users/nguyentienhuy/Documents/fsds/BI/material/Lesson 15 - Python 3/fsds-bi-96a792b2baf8.json"

# Bước 3: Tạo client BigQuery
credentials = service_account.Credentials.from_service_account_file(key_path)
client = bigquery.Client(credentials=credentials, project=project_id)

# Bước 4: Tạo tham chiếu bảng
table_ref = f"{project_id}.{dataset_id}.{table_id}"

# Bước 5: Cấu hình ghi đè bảng nếu đã tồn tại
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
    autodetect=True,  
)

# Bước 6: Load DataFrame vào BigQuery
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()  

# Bước 7: Xác nhận
print(f"✅ Đã tải {job.output_rows} dòng vào bảng {table_ref}")

✅ Đã tải 3 dòng vào bảng fsds-bi.sample_datawarehouse.fake_data

In [4]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

# Bước 1: Tạo DataFrame mẫu (bạn thay bằng file của bạn)
df = pd.read_csv('/Users/nguyentienhuy/Documents/fsds/BI/datawarehouse/DimCustomer.csv')

# Bước 2: Thông tin kết nối BigQuery
project_id = "fsds-bi"
dataset_id = "sample_datawarehouse"
table_id = "Dim_Customer"
key_path = "/Users/nguyentienhuy/Documents/fsds/BI/material/Lesson 15 - Python 3/fsds-bi-96a792b2baf8.json"

# Bước 3: Tạo client BigQuery
credentials = service_account.Credentials.from_service_account_file(key_path)
client = bigquery.Client(credentials=credentials, project=project_id)

# Bước 4: Tạo tham chiếu bảng
table_ref = f"{project_id}.{dataset_id}.{table_id}"

# Bước 5: Cấu hình ghi đè bảng nếu đã tồn tại
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE,
    autodetect=True,  
)

# Bước 6: Load DataFrame vào BigQuery
job = client.load_table_from_dataframe(df, table_ref, job_config=job_config)
job.result()  

# Bước 7: Xác nhận
print(f"✅ Đã tải {job.output_rows} dòng vào bảng {table_ref}")

✅ Đã tải 18484 dòng vào bảng fsds-bi.sample_datawarehouse.Dim_Customer

In [2]:
import pandas as pd

df = pd.read_csv('/Users/nguyentienhuy/Documents/fsds/BI/datawarehouse/DimCustomer.csv')

df.head()

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,NaN,Jon,V,Yang,0,06/10/1971,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,NaN,1 (11) 500 555-0162,19/01/2011,1-2 Miles
1,11001,37,AW00011001,NaN,Eugene,L,Huang,0,10/05/1976,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,NaN,1 (11) 500 555-0110,15/01/2011,0-1 Miles
2,11002,31,AW00011002,NaN,Ruben,NaN,Torres,0,09/02/1971,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,NaN,1 (11) 500 555-0184,07/01/2011,2-5 Miles
3,11003,11,AW00011003,NaN,Christy,NaN,Zhu,0,14/08/1973,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,NaN,1 (11) 500 555-0162,29/12/2010,5-10 Miles
4,11004,19,AW00011004,NaN,Elizabeth,NaN,Johnson,0,05/08/1979,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,NaN,1 (11) 500 555-0131,23/01/2011,1-2 Miles

# Làm như thế nào load hết các file trong datawarehouse vào Bigquery?

In [6]:
import os
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

# Bước 1: Đường dẫn thư mục chứa các tệp CSV
csv_folder_path = '/Users/nguyentienhuy/Documents/fsds/BI/datawarehouse/'
print(os.listdir(csv_folder_path))

['DimOrganization.csv', 'DimSalesReason.csv', 'DimGeography.csv', '.DS_Store', 'FactResellerSales.csv', 'DimProductCategory.csv', 'DimSalesTerritory.csv', 'DimReseller.csv', 'DimProductSubcategory.csv', 'DimDate.csv', 'FactInternetSales.csv', 'FactInternetSalesReason.csv', 'DimEmployeeSalesTerritory.csv', 'DimProduct.csv', 'DimEmployee.csv', 'DimCustomer.csv', 'DimPromotion.csv']